*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(200, 212, 222);
}

.to-do-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: aliceblue;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.501) , -3px -3px 8px rgba(0, 0, 0, 0.501);
    text-align: center;
    width: 40%;
}

.to-do-list h1 {
    padding-bottom: 20px;
}

.to-do-list form {
    margin: 20px;
    margin-top: 5px;
}

.to-do-list form input{
    padding: 10px;
}

.to-do-list form input[type="text"] {
    width: 80%;
    border: 2px solid #98c4e6;
    border-radius: 5px;
    margin-right: 5px;
}

.to-do-list form input[type="button"]{
    background-color: #98c4e6;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-color: #81b7e0;
    padding: 12px;
    cursor: pointer;
}

.to-do-list .add-tasks{
    display: flex;
    justify-content: space-around;
    background: #8aacc6;
    width: 80%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    align-items: center;
    margin-bottom: 5px;
}

.to-do-list .add-tasks .butt {
    padding: 5px;
    height: 30px;
    color: #fff ;
    background-color: #48ab64;
    border-radius: 5px;
    border: 2px solid #2e8747;
    cursor: pointer;
}

.to-do-list .add-tasks .del{
    background: #b43f3f;
    border-color: #872e2e;
}